@charset "UTF-8";

body{
	text-align: center;
	background-image: url("/img/spacejet.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
}

table{
	width: 37%;
	border: 1px solid  #554616;
	margin-top: 130px;
	margin-left: 630px;
	border-radius: 80px;
}

td, tr {
	
	border: 1px solid #554616;
	height: 40px;
	width:  40px;
	border-radius: 10px;
}

font{
	font-size: 100px;
	color: orange;
}
